<template>
  <v-expansion-panels popout v-model="show">
    <v-expansion-panel>
      <v-expansion-panel-header
        v-slot
        :disabled="isValid"
        :expand-icon="isValid ? 'mdi-check' : 'mdi-chevron-down'"
      >
        <v-row no-gutters>
          <v-col class="left-text" cols="12">
            <h2>
              <v-icon color="black" large left> mdi-account-circle </v-icon>
              Partner 1
            </h2>
          </v-col>
        </v-row>
      </v-expansion-panel-header>

      <v-expansion-panel-content>
        <v-form>
          <v-container fluid>
            <v-row align="center" justify="center">
              <v-col cols="12">
                <v-text-field
                  solo
                  dark
                  v-model="partner1.firstName.value"
                  :label="partner1.firstName.label"
                  :error-messages="
                    errors.partner1.firstName(partner1.firstName.label)
                  "
                  :counter="50"
                  @input="$v.partner1.firstName.value.$touch"
                  @blur="$v.partner1.firstName.value.$touch"
                  required
                >
                </v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  solo
                  dark
                  v-model="partner1.lastName.value"
                  :label="partner1.lastName.label"
                  :error-messages="
                    errors.partner1.lastName(partner1.lastName.label)
                  "
                  :counter="50"
                  @input="$v.partner1.lastName.value.$touch"
                  @blur="$v.partner1.lastName.value.$touch"
                  required
                >
                </v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  solo
                  dark
                  v-model="partner1.email.value"
                  :label="partner1.email.label"
                  :error-messages="errors.partner1.email(partner1.email.label)"
                  @input="$v.partner1.email.value.$touch"
                  @blur="$v.partner1.email.value.$touch"
                  required
                >
                </v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  solo
                  dark
                  v-model="partner1.phoneNumber.value"
                  :label="partner1.phoneNumber.label"
                  :error-messages="
                    errors.partner1.phoneNumber(partner1.phoneNumber.label)
                  "
                  @input="$v.partner1.phoneNumber.value.$touch"
                  @blur="$v.partner1.phoneNumber.value.$touch"
                  required
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" @click="reset"> reset </v-btn>
          <v-btn color="success" @click="createPartner1"> add </v-btn>
        </v-card-actions>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import {
  required,
  minLength,
  maxLength,
  email,
} from "vuelidate/lib/validators";

export default {
  name: "input-form-partner-1",

  data: () => ({
    isValid: false,

    show: 0,

    partner1: {
      firstName: {
        value: "",
        label: "First Name",
      },
      lastName: {
        value: "",
        label: "Last Name",
      },
      phoneNumber: {
        value: "",
        label: "Phone Number",
      },
      email: {
        value: "",
        label: "Email",
      },
    },
  }),

  validations: {
    partner1: {
      firstName: {
        value: {
          required,
          maxLength: maxLength(50),
          minLength: minLength(2),
        },
      },
      lastName: {
        value: {
          required,
          maxLength: maxLength(50),
          minLength: minLength(2),
        },
      },
      email: {
        value: {
          required,
          email,
        },
      },
      phoneNumber: {
        value: {
          required,
          minLength: minLength(1),
        },
      },
    },
  },

  computed: {
    errors() {
      return {
        partner1: {
          firstName: (label) => {
            const errors = [];
            //if no errors return empty errors
            if (!this.$v.partner1.firstName.value.$dirty) {
              return errors;
            }
            //check if value is set if not push error for rule sets below
            !this.$v.partner1.firstName.value.required &&
              errors.push(`${label} is required!`);
            !this.$v.partner1.firstName.value.maxLength &&
              errors.push(`${label} is too long!`);
            !this.$v.partner1.firstName.value.minLength &&
              errors.push(`${label} is too short!`);
            return errors;
          },
          lastName: (label) => {
            const errors = [];
            //if no errors return empty errors
            if (!this.$v.partner1.lastName.value.$dirty) {
              return errors;
            }
            //check if value is set if not push error for rule sets below
            !this.$v.partner1.lastName.value.required &&
              errors.push(`${label} is required!`);
            !this.$v.partner1.lastName.value.maxLength &&
              errors.push(`${label} is too long!`);
            !this.$v.partner1.lastName.value.minLength &&
              errors.push(`${label} is too short!`);
            return errors;
          },
          email: (label) => {
            const errors = [];
            //if no errors return empty errors
            if (!this.$v.partner1.email.value.$dirty) {
              return errors;
            }
            //check if value is set if not push error for rule sets below
            !this.$v.partner1.email.value.required &&
              errors.push(`${label} is required!`);
            !this.$v.partner1.email.value.email &&
              errors.push(`${label} is not a valid!`);
            return errors;
          },
          phoneNumber: (label) => {
            const errors = [];
            //if no errors return empty errors
            if (!this.$v.partner1.phoneNumber.value.$dirty) {
              return errors;
            }
            //check if value is set if not push error for rule sets below
            !this.$v.partner1.phoneNumber.value.required &&
              errors.push(`${label} is required!`);
            return errors;
          },
        },
      };
    },
  },

  methods: {
    reset() {
      this.$v.$reset();

      this.partner1.firstName.value = "";
      this.partner1.lastName.value = "";
      this.partner1.email.value = "";
      this.partner1.phoneNumber.value = "";
    },

    createPartner1() {
      this.$v.$touch();

      this.isValid = !this.$v.$invalid;

      if (this.isValid) {
        let partner1 = {
          firstName: this.partner1.firstName.value,
          lastName: this.partner1.lastName.value,
          email: this.partner1.email.value,
          phoneNumber: this.partner1.phoneNumber.value,
        };

        //store partner1 info in store
        this.$store.dispatch("setPartner1", partner1);

        this.show = 1;

        this.reset();
      }
    },
  },
};
</script>

<style>
</style>